QPushButton#past_assignment, #past_assignment_2, #past_assignment_3{
  color: #c03e4a;
  background-color: transparent;
  border-bottom: 2px solid;
  border-color: #FFFFFF;
}

QPushButton#task1, #task2, #task3, #task4{
  text-align: left;
  background-color: #3F3F3F;
  border-radius: 6;
  padding: 13px;
}

QPushButton#submitted, #submitted_2, #not_submitted, #not_submitted_2{
  font-weight:bold;
  background-color: transparent;
}

QPushButton#team1, #team2{
  font-size: 17px;
  font-weight:bold;
  color: #7579bf;
  background-color: transparent;
}

QPushButton#sort{
  background-color: #3F3F3F;
  border-radius: 3;
  padding: 3px;
}
